<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>文员——离职管理</title>
<style>
    .el-card {
        height: 100px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .el-dialog {
        width: 500px;
    }

    .el-form-item label:after {
        content: "";
        display: inline-block;
        width: 100%;
    }

    .el-form-item__label {
        text-align: justify;
        height: 50px;
    }

    .el-form-item.is-required .el-form-item__label:before {
        content: none !important;
    }

    .el-form-item {
        width: 75%;
    }



    /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>

<body>
    <header class="header">
        <div class="container flex">
            <div class="left">
                <img class="logo" src="/admin/images/2.jpg" />
            </div>
            <div class="right flex">
                <p class="font">用户1</p>
                <p class="font exit">退出</p>
            </div>
        </div>
    </header>
    <div class="body flex">
        <div class="slider">
            <div class="slider-body">
                <ul>

                    <li class="ul-item">
                        <a class="slider-link " href="/clerk/staffManage.html">员工管理</a>
                    </li>
                    <li class="ul-item">
                        <a class="slider-link" href="/clerk/staffRecord.html">档案管理</a>
                    </li>
                    <li class="ul-item">
                        <a class="slider-link active" href="/clerk/leaveManage.html">离职管理</a>
                    </li>
                    <li class="ul-item">
                        <a class="slider-link " href="/dataAdmin/occupInjury.html">工伤名单</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main">
            <!-- 主体  -->
            <div id="app">
                <div style="display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom:2rem;margin-top: 2rem;">
                    <div class="mobileSize">
                        <el-input placeholder="请输入姓名" clearable v-model="DATA.name" @change="searchData">
                        </el-input>
                    </div>
                    <div class="mobileSize">
                        <el-input placeholder="输入工号" clearable v-model="DATA.idWork" @change="searchData">
                        </el-input>
                    </div>

                </div>
                <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
                    <el-table-column fixed prop="idWork" align="center" label="工号">
                    </el-table-column>
                    <el-table-column fixed prop="name" align="center" label="员工姓名">
                    </el-table-column>
                    <el-table-column prop="idNumber" align="center" label="身份证号">
                    </el-table-column>
                    <el-table-column prop="gender" align="center" label="性别">
                    </el-table-column>
                    <el-table-column prop="position" align="center" label="岗位">
                    </el-table-column>
                    <el-table-column prop="deptName" align="center" label="部门名">
                    </el-table-column>
                    <el-table-column prop="inductionTime" align="center" label="入职时间">
                    </el-table-column>
                    <el-table-column prop="leavingReason" align="center" label="离职原因">
                    </el-table-column>
                    <el-table-column prop="tool" align="center" label="离职交接">
                    </el-table-column>
                    <el-table-column prop="confirm" align="center" label="交接确认">
                    </el-table-column>
                    <el-table-column prop="handover" align="center" label="交接人">
                    </el-table-column>
                    <el-table-column prop="note" align="center" label="备注">
                    </el-table-column>
                    <el-table-column label="操作" fixed="right" align="center" width="120">
                        <template slot-scope="scope">
                            <el-button size="small" type="primary" @click="editLeave(scope.row)">
                                编辑
                            </el-button>
                        </template>
                    </el-table-column>

                </el-table>
                <div class="footer" style="width: 100%;margin-top:1rem;">
                    <template>
                        <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
                            @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
                        </el-pagination>
                    </template>
                </div>

                <el-dialog title="编辑离职原因" :visible.sync="editDialog">
                    <el-form :model="editForm" ref="editForm" style="margin-left: 80px;" class="demo-ruleForm">
                        <el-form-item label="工号" :label-width="formLabelWidth">
                            <el-input v-model="editForm.idWork" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="姓名" :label-width="formLabelWidth">
                            <el-input v-model="editForm.name" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="性别" :label-width="formLabelWidth">
                            <el-radio-group v-model="editForm.gender">
                                <el-radio disabled :label="0">男</el-radio>
                                <el-radio disabled :label="1">女</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="身份证号" :label-width="formLabelWidth">
                            <el-input v-model="editForm.idNumber" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="岗位" :label-width="formLabelWidth">
                            <el-input v-model="editForm.position" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="部门名" :label-width="formLabelWidth">
                            <el-input v-model="editForm.deptName" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="入职时间" :label-width="formLabelWidth">
                            <el-input v-model="editForm.inductionTime" autocomplete="off" size="small" :disabled="true">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="离职原因" :label-width="formLabelWidth">
                            <el-input v-model="editForm.leavingReason" autocomplete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="离职交接" :label-width="formLabelWidth">
                            <el-input v-model="editForm.tool" autocomplete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="交接确认" :label-width="formLabelWidth">
                            <el-radio-group v-model="editForm.confirm">
                                <el-radio :label="0">正常</el-radio>
                                <el-radio :label="1">异常</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="交接人" :label-width="formLabelWidth">
                            <el-input v-model="editForm.handover" autocomplete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="备注" :label-width="formLabelWidth">
                            <el-input v-model="editForm.note" autocomplete="off" size="small"></el-input>
                        </el-form-item>

                    </el-form>
                    <div slot="footer" class="dialog-footer" style="text-align: center;">
                        <el-button @click="editDialog = false">取 消</el-button>
                        <el-button type="primary" @click="edit">编辑</el-button>
                    </div>
                </el-dialog>


            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    loading: false,
                    editDialog: false,
                    formLabelWidth: '100px',
                    editForm: {},


                    DATA: {
                        page: 1,

                        employeeName: '',
                        idWork: '',

                    },
                    currentPage: 1,
                    pagesize: 10,
                    total: "",
                    tableData: [
                        { employeeName: '张三', gender: '女', idWork: '123213123', idNumber: '500227199801233288x', leavingReason: "1", tool: "1", confirm: "正常", handover: "1", note: "1" }
                    ]
                }
            },
            created() {
                this.getTableData(this.DATA)
                this.getTotal(this.DATA)
            },
            methods: {
                getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
                    URL += "?";
                    for (let [key, value] of Object.entries(options)) {
                        if (value !== "") URL += "" + key + "=" + value + "&";
                    }
                    return URL.slice(0, URL.length - 1);
                },
                getCountURL(URL, options) {
                    URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
                    for (let [key, value] of Object.entries(options)) {
                        if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
                    }
                    return URL.slice(0, URL.length - 1);
                },
                initForm(obj) {
                    for (let key in obj) {
                        obj[key] = "";
                    }
                },
                searchData() {
                    this.DATA.page = 1
                    this.getTableData(this.DATA);
                    this.getTotal(this.DATA)
                },
                handleCurrentChange(size) {

                    this.DATA.page = size;
                    this.getTableData(this.DATA);
                },

                changeTable1() {                //改变表一任何一个单选框
                    this.getTotal(this.DATA).then(() => {
                        this.getTableData(this.DATA)
                    }).catch(err => {
                        this.$message.error(err);
                    })
                },

                getTableData(options) {
                    let URL = "http://lcj525.vipgz4.idcfengye.com/departure"
                    // this.loading = true;
                    URL = this.getTableDataURL(URL, options);
                    return new Promise(resolve => {
                        fetch(URL)
                            .then(res => res.json())
                            .then(json => {
                                this.tableData = json;

                                resolve();
                                setTimeout(() => {
                                    this.loading = false;
                                }, 500);
                            });
                    });
                },
                getTotal(options) {
                    return new Promise(resolve => {
                        let URL = "http://lcj525.vipgz4.idcfengye.com/departureCount"           //获取表一所有数据总数
                        URL = this.getCountURL(URL, options);
                        console.log(URL)
                        fetch(URL)
                            .then(res => res.json())
                            .then(json => {
                                console.log(json)
                                this.total = json.count;

                                resolve();
                            });
                    });
                },


                editLeave(currentRow) {
                    this.editDialog = true
                    this.editForm = Object.assign({}, currentRow)
                    this.editForm.confirm == '正常' ? this.editForm.confirm = 0 : this.editForm.confirm = 1
                    this.editForm.gender == '男' ? this.editForm.gender = 0 : this.editForm.gender = 1

                },
                edit() {
                    this.editForm.confirm == 0 ? this.editForm.confirm = '正常' : this.editForm.confirm = '异常'
                    this.editForm.id = this.editForm.employeeId
                    this.editForm.gender == 0 ? this.editForm.gender = '男' : this.editForm.gender = '女'
                    let URL = "http://lcj525.vipgz4.idcfengye.com/updateDeparture"
                    let opt = {
                        method: 'post',
                        body: JSON.stringify(this.editForm),
                        headers: {
                            'content-type': 'application/json'
                        }
                    }
                    fetch(URL, opt)
                        .then(res => res.json())
                        .then(json => {
                            if (json.statusCode == 1) {
                                this.editDialog = false
                                this.$message({
                                    type: 'success',
                                    message: '修改成功'
                                })

                                this.getTableData(this.DATA)
                                this.getTotal(this.DATA)

                            }
                            else{
                                this.$message({
                                    type: 'danger',
                                    message: '修改失败'
                                })
                            }

                        })
                },





            },
        });
    </script>
</body>

</html>