<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>管理员——员工信息</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 78%;
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 45%;
    margin-left: 20px;
  }



  /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>

<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          
          <li class="ul-item">
            <a class="slider-link active" href="/clerk/staffManage.html">员工管理</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/clerk/staffRecord.html">档案管理</a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/clerk/leaveManage.html">离职管理</a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/clerk/occupInjury.html">工伤名单</a>
          </li>
      </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <div style="display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom:2rem;margin-top: 2rem;">
          <div class="mobileSize">
            <el-input placeholder="请输入姓名" clearable v-model="DATA.name" @change="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-input placeholder="请输入部门名" clearable v-model="DATA.deptName" @change="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-button type="primary" @click="addemployee">添加名单</el-button>
          </div>
        </div>


        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
          <el-table-column prop="idWork" align="center" label="工号" width="90" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="name" align="center" label="员工姓名" width="100">
          </el-table-column>
          <el-table-column prop="idNumber" align="center" label="身份证号" width="180">
          </el-table-column>
          <el-table-column prop="gender" align="center" label="性别" width="60">
          </el-table-column>
          <el-table-column prop="phone" align="center" label="电话号码" width="120"> 
          </el-table-column>
          <el-table-column prop="position" align="center" label="岗位" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="deptName" align="center" label="部门名" width="120" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="password" align="center" label="登录密码" :show-overflow-tooltip="true">
          </el-table-column>
          
          <el-table-column prop="inductionTime" align="center" label="入职时间" width="130">
          </el-table-column>
          <el-table-column label="操作" fixed="right" align="center" width="180">
            <template slot-scope="scope">
              <el-button size="small" type="primary" @click="updataemployee(scope.row)">
                编辑
              </el-button>
              <el-button size="small" type="danger" @click="departure(scope.row)">
                离职
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>

        <el-dialog title="编辑员工信息" :visible.sync="updateDialog">
          <el-form :inline="true" :model="update_form" ref="update_form" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="员工工号" :label-width="formLabelWidth">
              <el-input v-model="update_form.idWork" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="员工姓名" :label-width="formLabelWidth">
              <el-input v-model="update_form.name" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-radio-group v-model="update_form.gender">
                <el-radio :label="0">男</el-radio>
                <el-radio :label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="身份证" :label-width="formLabelWidth">
              <el-input v-model="update_form.idNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="update_form.phone" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="部门名" :label-width="formLabelWidth">
              <el-input v-model="update_form.deptName" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="岗位" :label-width="formLabelWidth">
              <el-input v-model="update_form.position" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="入职时间" :label-width="formLabelWidth"
            prop="inductionTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="update_form.inductionTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="登录密码" :label-width="formLabelWidth">
              <el-input v-model="update_form.password" autocomplete="off" size="small"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="updateDialog = false">取 消</el-button>
            <el-button type="primary" @click="update('update_form')">修改</el-button>
          </div>
        </el-dialog>


        <el-dialog title="添加员工信息" :visible.sync="addDialog">
          <el-form :inline="true" :model="addForm" ref="addForm" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="员工工号" :label-width="formLabelWidth">
              <el-input v-model="addForm.idWork" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="员工姓名" :label-width="formLabelWidth">
              <el-input v-model="addForm.name" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-radio-group v-model="addForm.gender">
                <el-radio :label="0">男</el-radio>
                <el-radio :label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="身份证" :label-width="formLabelWidth">
              <el-input v-model="addForm.idNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="addForm.phone" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="部门名" :label-width="formLabelWidth">
              <el-input v-model="addForm.deptName" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="岗位" :label-width="formLabelWidth">
              <el-input v-model="addForm.position" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="入职时间" :label-width="formLabelWidth"
            prop="inductionTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="addForm.inductionTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="登录密码" :label-width="formLabelWidth">
              <el-input v-model="addForm.password" autocomplete="off" size="small"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="addDialog = false">取 消</el-button>
            <el-button type="primary" @click="add('addForm')">添加</el-button>
          </div>
        </el-dialog>

        <el-dialog title="离职原因" :visible.sync="departureDialog">
          <el-form :inline="true" :model="departureForm" ref="departureForm" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="离职原因" :label-width="formLabelWidth">
              <el-input v-model="departureForm.leavingReason" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="离职交接" :label-width="formLabelWidth">
              <el-input v-model="departureForm.tool" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="交接确认" :label-width="formLabelWidth">
              <el-radio-group v-model="departureForm.confirm">
                <el-radio :label="0">正常</el-radio>
                <el-radio :label="1">异常</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="交接人" :label-width="formLabelWidth">
              <el-input v-model="departureForm.handover" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth">
              <el-input v-model="departureForm.note" autocomplete="off" size="small"></el-input>
            </el-form-item>
            
          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="departureDialog = false">取 消</el-button>
            <el-button type="primary" @click="submitDeparture">确认</el-button>
          </div>
        </el-dialog>


       

      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          
          loading: false,
          updateDialog: false,
          
          addDialog: false,
          departureDialog:false,
          formLabelWidth: '100px',
          update_form: "",
          addForm: {},
          departureForm:{},
          recordForm:{},
          

          DATA: {
            page: 1,
            

            employeeName: '',
            deptName: "",

          },
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { employeeName: '张三', gender: '男', idNumber: '500227199801233288x', phoneNumber: '15736063175', idWork: "2017441552", deptName: "销售部", position: "数据专员", password: "12121", inductionTime: "2020-12-12" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },
        searchData() {
          this.DATA.page = 1
          this.getTableData(this.DATA);
          this.getTotal(this.DATA)
        },
        handleCurrentChange(size) {
          
          this.DATA.page = size;
          this.getTableData(this.DATA);
        },

        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },

        getTableData(options) {
          let URL = "http://lcj525.vipgz4.idcfengye.com/employee"
          this.loading = true
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                this.tableData = json;

                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/employeeCount"           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                console.log(json)
                this.total = json.count;

                resolve();
              });
          });
        },

        validateDate(rule, value, callback){
          let dateRule = /^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))$/
          if (dateRule.test(value)==false) {        
              callback(new Error('请输入正确得时间格式，如2017-01-01'))
          } else {
            callback()
          }
        },
        updataemployee(rowList) {
          this.updateDialog = true
          this.update_form = Object.assign({}, rowList)
          console.log(this.update_form)
          this.update_form.gender == '男' ? this.update_form.gender = 0 : this.update_form.gender = 1
        },
        update(formName) {
          this.$refs[formName].validate((valid) => {
          if (valid) {
            let URL = "http://lcj525.vipgz4.idcfengye.com/updateEmployee"
          this.update_form.gender == 0 ? this.update_form.gender = '男' : this.update_form.gender = '女'
          let opt = {
            method: 'post',
            body: JSON.stringify(this.update_form),
            headers: {
              "content-type": 'application/json; charset=utf-8'
            },
          }
          fetch(URL, opt)
            .then(res => res.json())
            .then(json => {
              if(json.statusCode == 1){
                this.$message({
                type: 'success',
                message: '修改成功'
              })
              this.updateDialog = false
              this.getTableData(this.DATA)
              this.getTotal(this.DATA)
              }
              else{
                this.updateDialog = false
                this.$message({
                type: 'danger',
                message: '修改失败'
              })
              }
              
            })

          }else{
            this.$message({
              type : 'error',
              message : '请正确填写时间格式'
            })
            return false;
          }
          })

        },
        addemployee(currentRow) {
          this.addDialog = true
          this.addForm = {}
        },
        add(formName) {
          this.$refs[formName].validate((valid) => {
          if (valid) {
            this.addForm.gender == 0 ? this.addForm.gender = '男' : this.addForm.gender = '女'
            let URL = 'http://lcj525.vipgz4.idcfengye.com/addEmployee'
            let opt = {
              method: 'post',
              body: JSON.stringify(this.addForm),
              headers: {
                "content-type": 'application/json'
              },
          }
          fetch(URL, opt)
            .then(res => res.json())
            .then(json => {
              if(json.statusCode == 1){   
                this.addDialog = false 
                this.$message({
                type: 'success',
                message: '添加成功'
              })
              this.getTableData(this.DATA)
              this.getTotal(this.DATA)
              
              }
              else{
                this.$message({
                type: 'danger',
                message: '添加失败'
              })
              }
              
            })

          }else{
            this.$message({
              type : 'error',
              message : '请正确填写时间格式'
            })
            return false;
          }
          })
          

        },
        departure(currentRow) {           //离职
        this.departureDialog = true
        this.departureForm.employeeId = currentRow.id

        },
        submitDeparture(){
          console.log(this.departureForm)
          let URL = "http://lcj525.vipgz4.idcfengye.com/addDeparture"
          this.departureForm.confirm == 0 ? this.departureForm.confirm = '正常' : this.departureForm.confirm = '异常'
          let opt = {
            method : 'post',
            body : JSON.stringify(this.departureForm),
            headers:{
             'content-type': 'application/json'
            },          
          }
          fetch(URL,opt)
          .then(res=>res.json())
          .then(json=>{
            this.departureDialog = false
            
            this.$message({
                type: 'success',
                message: '离职成功'
            })
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)

          })
        },        

        









      },
    });
  </script>
</body>

</html>