<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>文员——档案管理</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 78%;
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 45%;
    margin-left: 20px;
  }
  .c {
    background-color: red;
  }



  /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>
<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          <li class="ul-item">
            <a class="slider-link " href="/clerk/staffManage.html">员工管理</a>
        </li>
        <li class="ul-item">
            <a class="slider-link active" href="/clerk/staffRecord.html">档案管理</a>
        </li>
        <li class="ul-item">
            <a class="slider-link " href="/clerk/leaveManage.html">离职管理</a>
        </li>
        <li class="ul-item">
            <a class="slider-link " href="/clerk/occupInjury.html">工伤名单</a>
        </li>
      </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <div style="display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom:2rem;margin-top: 2rem;">
          <div class="mobileSize">
            <el-input placeholder="请输入姓名" clearable v-model="DATA.name" @change="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-input placeholder="输入工号" clearable v-model="DATA.idWork" @change="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-input placeholder="输入部门名" clearable v-model="DATA.deptName" @change="searchData">
            </el-input>
          </div>
          
        </div>
        <el-table :data="tableData" style="width: 100%" v-loading="loading" border >
          <el-table-column prop="idWork" align="center" label="工号" width="100">
          </el-table-column>
          <el-table-column prop="name" align="center" label="员工姓名" width="80">
          </el-table-column>
          <el-table-column prop="gender" align="center" label="性别" width="60">
          </el-table-column>
          <el-table-column prop="idNumber" align="center" label="身份证号" width="180">
          </el-table-column>
          <el-table-column prop="phone" align="center" label="电话号码">
          </el-table-column>
          <el-table-column prop="position" align="center" label="岗位">
          </el-table-column>
          <el-table-column prop="inductionTime" align="center" label="入职时间">
          </el-table-column>
          <el-table-column prop="dueToTime" align="center"  label="合同到期时间">
          </el-table-column>
          <el-table-column prop="deptName" align="center" label="部门名">
          </el-table-column>
          <el-table-column label="操作" fixed="right" align="center" width="100">
            <template slot-scope="scope">
              <el-button size="small" type="primary" @click="detail(scope.row)">
                详情
              </el-button>
            </template>
          </el-table-column>

          
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>

       

        <el-dialog title="详情档案" :visible.sync="detailDialog">
          <el-form :inline="true" :model="detailForm" ref="detailForm" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="工号" :label-width="formLabelWidth">
              <el-input v-model="detailForm.idWork" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="员工姓名" :label-width="formLabelWidth">
              <el-input v-model="detailForm.name" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-radio-group v-model="detailForm.gender" :disabled="true">
                <el-radio :label="0">男</el-radio>
                <el-radio :label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="身份证号" :label-width="formLabelWidth">
              <el-input v-model="detailForm.idNumber" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="电话号码" :label-width="formLabelWidth">
              <el-input v-model="detailForm.phone" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="岗位" :label-width="formLabelWidth">
              <el-input v-model="detailForm.position" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="入职时间" :label-width="formLabelWidth">
              <el-input v-model="detailForm.inductionTime" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 
            <el-form-item label="部门名" :label-width="formLabelWidth" >
              <el-input v-model="detailForm.deptName" autocomplete="off" size="small" :disabled="true"></el-input>
            </el-form-item> 

            <el-form-item label="生日类别" :label-width="formLabelWidth">
              <el-radio-group v-model="detailForm.category">
                <el-radio :label="0">新历</el-radio>
                <el-radio :label="1">旧历</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="生日" :label-width="formLabelWidth">
              <el-input v-model="detailForm.birthday" autocomplete="off" size="small"></el-input>
            </el-form-item> 
            
            <el-form-item label="学历" :label-width="formLabelWidth">
              <el-input v-model="detailForm.education" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="家庭住址" :label-width="formLabelWidth">
              <el-input v-model="detailForm.address" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="现住址" :label-width="formLabelWidth">
              <el-input v-model="detailForm.addressNow" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="家庭住址" :label-width="formLabelWidth">
              <el-input v-model="detailForm.address" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="紧急联系人" :label-width="formLabelWidth">
              <el-input v-model="detailForm.emergencyContact" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="联系人关系" :label-width="formLabelWidth">
              <el-input v-model="detailForm.relation" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="紧急联系电话" :label-width="formLabelWidth">
              <el-input v-model="detailForm.emergencyContactPhone" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="合同到期时间" :label-width="formLabelWidth"
            prop="dueToTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="detailForm.dueToTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="离职时间" :label-width="formLabelWidth"
            prop="departureTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="detailForm.departureTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="参保时间" :label-width="formLabelWidth"
            prop="ginsengTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="detailForm.ginsengTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="停保时间" :label-width="formLabelWidth"
            prop="stopTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="detailForm.stopTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="备注" :label-width="formLabelWidth">
              <el-input v-model="detailForm.note" autocomplete="off" size="small"></el-input>
            </el-form-item>
            
          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="detailDialog = false">取 消</el-button>
            <el-button type="primary" @click="editDetail('detailForm')">确认修改</el-button>
          </div>
        </el-dialog>




      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          detailDialog:false,
          
          formLabelWidth:'100px',
          detailForm : {},
          allotForm:{},
          
          editSForm :{},
          selected:true,

          options: [{
            value: '本科',
            label: '本科'
          },
          {
            value: '专科',
            label: '专科'
          }, {
            value: '高中',
            label: '高中'
          }, {
            value: '研究生',
            label: '研究生'
          }, {
            value: '博士',
            label: '博士'
          }, {
            value: '初中',
            label: '初中'
          },
          {
            value: '小学',
            label: '小学'
          },
          {
            value: '其它',
            label: '其它'
          }
          ],
          
          
          DATA: {
            page: 1,
            // pagesize: 10,
            name: '',
            idWork:'',
            deptName:"",
          },
          
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { employeeName: '张三', gender: '女', idWork: '12', idNumber: '500227199801233288x', phoneNumber: '15736063175',position:"数据专员",deptName:"销售部",inductionTime:"2020-12-12",dueToTime:"5"}
          ],
          
        }
      },
      
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
        
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },
        searchData() {
          this.DATA.page = 1
          this.getTableData(this.DATA);
          this.getTotal(this.DATA)
        },
        handleCurrentChange(size) {
          
          this.DATA.page = size;
          this.getTableData(this.DATA);
        },

        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },

        getTableData(options) {
          let URL = "http://lcj525.vipgz4.idcfengye.com/employeesArchives"
          this.loading = true
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                this.tableData = json;
                
                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/employeesArchivesCount"           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                console.log(json)
                this.total = json.count;
                
                resolve();
              });
          });
        },
        validateDate(rule, value, callback){
          let dateRule = /^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))$/
          if (dateRule.test(value)==false) {        
              callback(new Error('请输入正确得时间格式，如2017-01-01'))
          } else {
            callback()
          }
        },

        
        detail(currentRow){
          this.detailDialog = true
          this.detailForm = Object.assign({},currentRow)
          this.detailForm.category == '新历' ? this.detailForm.category = 0 :  this.detailForm.category = 1
          this.detailForm.gender == '男' ? this.detailForm.gender = 0 : this.detailForm.gender = 1
          
          console.log(currentRow)

        },
        editDetail(formName){
          this.$refs[formName].validate((valid) => {
          if (valid) {
            this.detailForm.category == 0 ? this.detailForm.category = '新历':this.detailForm.category = '旧历'
            this.detailForm.gender == 0 ?this.detailForm.gender = '男' : this.detailForm.gender = '女'
            this.detailForm.id = this.detailForm.employeeArchivesId
            delete this.detailForm.employeeArchivesId
            console.log(this.detailForm)
            let URL = "http://lcj525.vipgz4.idcfengye.com/updateEmployeesArchives"
            let opt = {
              method : 'post',
              body : JSON.stringify(this.detailForm),
              headers: {
                'content-type':'application/json'
              },
          }
          fetch(URL,opt)
          .then(res=>res.json())
          .then(json=>{
            if(json.statusCode == 1){
              this.detailDialog = false
                this.$message({
                type: 'success',
                message: '修改成功'
              })
              this.getTableData(this.DATA)
              this.getTotal(this.DATA)
            }
            else{
              this.detailDialog = false
                this.$message({
                type: 'error',
                message: '修改失败'
              })
            }

          })

          }else{
            this.$message({
              type : 'error',
              message : '请正确填写时间格式'
            })
            return false;
          }
          
          })
          
        },  //编辑第一个表单


        cellStyle ({ row, column, rowIndex, columnIndex }) {
          let dueToTime = row.dueToTime
          if(dueToTime>1){
            return 'color: red'

          }

        },
       

        

        



        
      },
    });
  </script>
</body>

</html>