<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>权限管理</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 500px;
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 75%;
  }



  /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>
<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          
          <li class="ul-item">
            <a class="slider-link active " href="/other/authorityManage.html">权限分配
            </a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/other/companyAllot.html">企业权限管理
            </a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/other/sysSetting.html">系统设置</a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/other/customer.html">公海名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link  " href="/other/dataReport.html">数据报表</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <el-row>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 10px;">
            <el-input placeholder="请输入员工姓名" clearable v-model="DATA.name" @change="searchData">
          </el-col>
          <el-col :span="4" style="margin-right: 10px;margin-top: 20px;margin-bottom: 10px;">
            <el-input placeholder="请输入部门名" clearable v-model="DATA.deptName" @change="searchData">
          </el-col>
          
         
      </el-row>
        
        <el-table :data="tableData" style="width: 100%;margin-top: 20px;" v-loading="loading" border>
            <el-table-column prop="idWork" align="center" label="工号">
            </el-table-column>
            <el-table-column prop="name" align="center" label="员工姓名" width="100">
            </el-table-column>
            <el-table-column prop="gender" align="center" label="性别" width="60">
            </el-table-column>
            <el-table-column prop="phoneNumber" align="center" label="电话号码">
            </el-table-column>
            <el-table-column prop="position" align="center" label="岗位" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="inductionTime" align="center" label="入职时间">
            </el-table-column>
            <el-table-column prop="deptName" align="center" label="部门名" :show-overflow-tooltip="true">
            </el-table-column>
            
            <el-table-column label="操作" fixed="right" align="center" width="120">
              <template slot-scope="scope">
                <el-button size="small" type="primary" @click="permissAllot(scope.row)">
                  权限分配
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <div class="footer" style="width: 100%;margin-top:1rem;">
            <template>
              <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
                @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
              </el-pagination>
            </template>
          </div>


          <el-dialog title="权限分配" :visible.sync="allotDialog">
            <el-tree
              :data="data"
              show-checkbox
              node-key="id"
              ref="tree"
              
              
              :props="defaultProps">
            </el-tree>
            
          
            
            <div slot="footer" class="dialog-footer" style="text-align: center;">
              <el-button @click="allotDialog = false">取 消</el-button>
              <el-button type="primary" @click="allot">确认分配</el-button>
            </div>
          </el-dialog>
       
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          allotDialog:false,
          permissionsList : [],
          formLabelWidth:'100px',
          data: [{
          id: 1,
          label: '业务员',
          children: [{
            id: 10,
            label: '电话名单',   
            permissions : '1',     
          },
          {
            id: 11,
            label: '报名名单',
            permissions : '2',   
          },{
            id: 12,
            label: '电话名单',
            permissions : '3',   
          },{
            id: 13,
            label: '面试名单',
            permissions : '4',   
          },{
            id: 14,
            label: '待入职名单',
            permissions : '5',   
          },{
            id: 15,
            label: '入职名单',
            permissions : '6',   
          },{
            id: 16,
            label: '结算名单',
            permissions : '7',   
          }]
        }, {
          id: 2,
          label: '组长',
          children: [{
            id: 20,
            label: '报名名单',
            permissions : '8',   
          }, {
            id: 21,
            label: '面试名单',
            permissions : '9',   
          },
          {
            id: 22,
            label: '待入职名单',
            permissions : '10',   
          },{
            id: 23,
            label: '入职名单',
            permissions : '11',   
          },]
        }, {
          id: 3,
          label: '市场部',
          children: [{
            id: 30,
            label: '面试名单',
            permissions : '12',   
          }, {
            id: 31,
            label: '待入职名单',
            permissions : '13',   
          }]
        },
        {
          id: 4,
          label: '文员',
          children: [{
            id: 40,
            label: '员工管理',
            permissions : '14',   
          }, {
            id: 41,
            label: '员工档案管理',
            permissions : '15',   
          },{
            id: 42,
            label: '员工离职管理',
            permissions : '16',   
          },{
            id: 43,
            label: '工伤管理',
            permissions : '17',   
          },{
            id: 44,
            label: '账务管理',
            permissions : '18',   
          },]
        },
        {
          id: 5,
          label: '数据专员',
          children: [{
            id: 50,
            label: '报名管理',
            permissions : '19',   
          }, {
            id: 51,
            label: '面试管理',
            permissions : '20',   
          },{
            id: 52,
            label: '待入职管理',
            permissions : '21',   
          },
          {
            id: 53,
            label: '入职管理',
            permissions : '22',   
          }]
        },
        {
          id: 6,
          label: '财务',
          children: [{
            id: 60,
            label: '结算管理',
            permissions : '23',   
          }]
        },
        {
          id: 7,
          label: '企业管理',
          children: [{
            id: 70,
            label: '企业管理',
            permissions : '24',   
          }, {
            id: 71,
            label: '企业报表',
            permissions : '25',   
          }]
        },
        {
          id: 8,
          label: '其它',
          children: [{
            id: 80,
            label: '公海管理',
            permissions : '26',   
          }, {
            id: 81,
            label: '数据报表',
            permissions : '27',   
          },{
            id: 82,
            label: '权限分配',
            permissions : '28',   
          },{
            id: 83,
            label: '系统设置',
            permissions : '29',   
          },]
        }
        ],
          defaultProps: {
          children: 'children',
          label: 'label'
          },
          
          
          DATA: {
            page: 1,
            
            name: '',
            
            deptName:"",
          },
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
          // { employeeName: '张三', gender: '男', idNumber: '500227199801233288x', phoneNumber: '15736063175', idWork: "2017441552", deptName: "销售部", position: "数据专员", password: "12121", inductionTime: "2020-12-12" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },
        searchData() {
          this.DATA.page = 1
          this.getTableData(this.DATA);
          this.getTotal(this.DATA)
        },
        handleCurrentChange(size) {
         
          this.DATA.page = size;
          this.getTableData(this.DATA);
        },

        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },

        getTableData(options) {
          let URL = "http://lcj525.vipgz4.idcfengye.com/employee"
          // this.loading = true;
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                this.tableData = json;
                
                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/employeeCount"           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
               
                this.total = json.count
                
                resolve();
              });
          });
        },

        

        permissAllot(currentRow){
          this.allotDialog = true
          let URL = `http://lcj525.vipgz4.idcfengye.com/permissions?phone=${currentRow.phone}`
          fetch(URL)
          .then(res => res.json())
          .then(json=>{
            this.permissionsList = json
            let allPermissions = []
            let allId = []
            for(let i = 0;i<this.data.length;i++){
              let children = this.data[i].children
              for(let i =0;i<children.length;i++){
                allPermissions.push(children[i].permissions)
                allId.push(children[i].id)
              }
            }
            let allState = []
            for(let i = 0;i<json.length;i++){
              if(allPermissions.includes(json[i].permissions)===true){
                allState.push(json[i].state)
                
              }
            }
            console.log(allId)
            console.log(allState)
            let checkKey = []
            for (var k = 0;k<allId.length;k++){
              if(allState[k]==1){
                checkKey.push(allId[k])
              }
            }
            this.$refs.tree.setCheckedKeys(checkKey)
          
          
          })
          
          


        },
        allot(){
          let currentPermissions =[]
          for(let i = 0;i<this.data.length;i++){
              let children = this.data[i].children
              for(let i =0;i<children.length;i++){
                if(this.$refs.tree.getCheckedKeys().includes(children[i].id)){
                  children[i].state = 1
                  console.log(children[i])
                }
                else{
                  children[i].state = 0
                }
                currentPermissions.push(children[i])
              }
            }
          

          for(let i=0 ;i <currentPermissions.length;i++){
            currentPermissions[i].id = this.permissionsList[i].id
          }
          console.log(currentPermissions)

          let URL = ""
         
        },

        
        
        



        
      },
    });
  </script>
</body>

</html>