<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>其它——公海名单</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 80%;
    
    
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 45%;
    margin-left: 30px;
  }



  /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>
<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          <li class="ul-item">
            <a class="slider-link " href="/other/authorityManage.html">权限分配
            </a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/other/companyAllot.html">企业权限管理
            </a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/other/sysSetting.html">系统设置</a>
          </li>
          <li class="ul-item">
            <a class="slider-link active" href="/other/customer.html">公海名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link  " href="/other/dataReport.html">数据报表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <el-row>
            <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
              <el-input placeholder="请输入姓名" clearable v-model="DATA.name" @change="searchData">
            </el-col>
            <el-col :span="4" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
              <el-input placeholder="输入身份证号" clearable v-model="DATA.idNumber" @change="searchData">
            </el-col>
            <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
              <el-input placeholder="请输入电话号码" clearable v-model="DATA.phoneNumber" @change="searchData">
            </el-col>
           
        </el-row>
        <!-- 表格 -->
        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
            <el-table-column fixed prop="name" align="center" center label="姓名" width="80">
            </el-table-column>
            <el-table-column prop="idNumber" align="center" label="身份证号" width="180">
            </el-table-column>
            <el-table-column prop="gender" align="center" label="性别" width="50">
            </el-table-column>
            <el-table-column prop="age" align="center" label="年龄" width="50">
            </el-table-column>
            <el-table-column prop="phoneNumber" align="center" label="电话号码" width="120">
            </el-table-column>
            
            <el-table-column prop="education" align="center" label="学历" >
            </el-table-column>
            <el-table-column prop="address" align="center" label="地址" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="professionalSkills" align="center" label="专业技能" :show-overflow-tooltip="true">
            </el-table-column>    
            <el-table-column prop="hasCertificate" align="center" label="有无技能证书" width="120" :show-overflow-tooltip="true">
            </el-table-column>   
            <el-table-column prop="isDisability" align="center" label="是否残疾" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="sourceOfData" align="center" label="数据来源" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="note" align="center" label="备注" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="addedTime" align="center" label="插入时间"  :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="addedPerson" align="center" label="添加人" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column prop="state" align="center" label="状态" :show-overflow-tooltip="true">
            </el-table-column>
            <el-table-column label="操作" fixed="right" align="center" width="200">
            <template slot-scope="scope">
              <el-button size="small" type="primary" @click="editForm(scope.row)">
                编辑
              </el-button>
              <el-button size="small" type="warning" @click="handleAllot(scope.row)">
                分配
              </el-button>  
              <el-button size="small" type="danger" style="margin-top: 5px;" @click="deleteCustomer(scope.row)">
                删除
              </el-button> 
              <el-button size="small" type="info" @click="updateByState(scope.row)">
                黑名单
              </el-button>    
            </template>
          </el-table-column>
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>

        <el-dialog title="编辑表单" :visible.sync="editDialog">
          <el-form :inline="true" :model="updateForm" ref="updateForm" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="姓名" :label-width="formLabelWidth">
              <el-input v-model="updateForm.name" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-radio-group v-model="updateForm.gender">
                <el-radio :label="0">男</el-radio>
                <el-radio :label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="身份证" :label-width="formLabelWidth">
              <el-input v-model="updateForm.idNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
              <el-input v-model="updateForm.age" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="updateForm.phoneNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="学历" :label-width="formLabelWidth">
              <el-select v-model="updateForm.education" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="区域" :label-width="formLabelWidth">
              <el-input v-model="updateForm.address" autocomplete="off" size="small"></el-input>
            </el-form-item>


            <el-form-item label="专业技能" :label-width="formLabelWidth">
              <el-input v-model="updateForm.professionalSkills" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="证书" :label-width="formLabelWidth">
              <el-radio-group v-model="updateForm.hasCertificate">
                <el-radio :label="0">有</el-radio>
                <el-radio :label="1">无</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="残疾人" :label-width="formLabelWidth">
              <el-radio-group v-model="updateForm.isDisability">
                <el-radio :label="0">是</el-radio>
                <el-radio :label="1">否</el-radio>

              </el-radio-group>
            </el-form-item>
            <el-form-item label="数据来源" :label-width="formLabelWidth">
              <el-select v-model="updateForm.sourceOfData" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="备注" :label-width="formLabelWidth">
              <el-input v-model="updateForm.note" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="插入时间" :label-width="formLabelWidth"
            prop="addedTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"
            >
              <el-input v-model="updateForm.addedTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="添加人" :label-width="formLabelWidth">
              <el-input v-model="updateForm.addedPerson" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="状态" :label-width="formLabelWidth">
              <el-select v-model="updateForm.state" placeholder="请选择">
                <el-option v-for="item in option2s" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>

          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="editDialog = false">取 消</el-button>
            <el-button type="primary" @click="edit('updateForm')">编辑</el-button>
          </div>
        </el-dialog>

        <el-dialog title="公海分配" :visible.sync="allotDialog" style="width: 50%;margin-left: 25%;">
          <el-form :model="allotForm" ref="allotForm" style="margin-left: 50px;" class="demo-ruleForm">
            <el-form-item label="员工" :label-width="formLabelWidth" >
              <el-select v-model="allotForm.name" filterable placeholder="请选择" style="width: 170px;">
                <el-option v-for="item in options3" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="allotDialog = false">取 消</el-button>
            <el-button type="primary" @click="allot">分配</el-button>
          </div>
        </el-dialog>

 

      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          editDialog:false,
          allotDialog:false,
          formLabelWidth:'70px',
          updateForm:{},
          allotForm:{},
          options3:[],
          option2s:[
          {
            value: '可分配',
            label: '可分配'
          },
          {
            value: '不可分配',
            label: '不可分配'
          }, {
            value: '黑名单',
            label: '黑名单'
          },
          ],
          options: [{
            value: '抖音',
            label: '抖音'
          },
          {
            value: '快手',
            label: '快手'
          }, {
            value: '58',
            label: '58'
          }, {
            value: '汇博',
            label: '汇博'
          }, {
            value: 'Boos',
            label: 'Boos'
          }, {
            value: '分配',
            label: '分配'
          },
          {
            value: '其它',
            label: '其它'
          }
          ],
          DATA: {
            page: 1,
            // pagesize: 10,
            name: '',
            idNumber: "",
            phoneNumber: "",
           
          },
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { name: '张三', gender: '女', age: '12', cardNumber: '500227199801233288x', phoneNumber: '15736063175', education: "大专" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        // getURL(URL, options) {
        //   URL += "?";
        //   for (let [key, value] of Object.entries(options)) {
        //     if (value !== "") URL += "" + key + "=" + value + "&";
        //   }
        //   return URL.slice(0, URL.length - 1);
        // },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },
        searchData() {            //表一所有搜索框
          this.DATA.page = 1
          this.getTableData(this.DATA);
          this.getTotal(this.DATA)
        },
        handleCurrentChange(size) {
          
          this.DATA.page = size;
          this.getTableData(this.DATA);
        },
        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },

        getTableData(options) {
          let URL = "http://lcj525.vipgz4.idcfengye.com/customer"
          this.loading = true
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                
                
                this.tableData = this.filterData(json);
                
                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/customerCount"           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                console.log(json)
                this.total = json.count;
                
                resolve();
              });
          });
        },
        filterData(tableData) {
          return tableData.map(item => {
            if(item.state == 0 ){item.state = '可分配'}
            else if(item.state == 1){item.state = '不可分配'}
            else if (item.state == 2){item.state = '黑名单'}
            item.hasCertificate === 0 ? item.hasCertificate = '有' : item.hasCertificate = '无'
            item.isDisability === 0 ? item.isDisability = '是' : item.isDisability = '否'
            
            return item;
          })
        },

        validateDate(rule, value, callback){
          let dateRule = /^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))$/
          if (dateRule.test(value)==false) {        
              callback(new Error('请输入正确得时间格式，如2017-01-01'))
          } else {
            callback()
          }
        },
   
        editForm(currentRow) {
          this.editDialog = true
          this.updateForm = Object.assign({}, currentRow)
          // this.mark = this.update_form.mark        
          
          this.updateForm.gender === '男' ? this.updateForm.gender = 0  : this.updateForm.gender = 1
          this.updateForm.hasCertificate === '有' ? this.updateForm.hasCertificate = 0 : this.updateForm.hasCertificate = 1
          this.updateForm.isDisability === '是' ? this.updateForm.isDisability = 0 : this.updateForm.isDisability = 1
        },
        edit(formName){
          this.$refs[formName].validate((valid) => {
          if (valid) {
            this.updateForm.gender === 0 ? this.updateForm.gender = '男'  : this.updateForm.gender = '女'
            let URL = "http://lcj525.vipgz4.idcfengye.com/updateCustomer"
            let opt = {
              method : 'post',
              body : JSON.stringify(this.updateForm),
              headers:{
                'content-type':'application/json'
              },
          }
          fetch(URL,opt)
          .then(res=>res.json())
          .then(json=>{
            if(json.statusCode == 1){
              this.editDialog = false
              this.$message({
              type : 'success',
              message: '编辑成功'
            })
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)

            }
            else{
              this.editDialog = false
              this.$message({
              type : 'error',
              message: '编辑失败'
            })
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)
            }
            
          })
          }else{
              this.editDialog = false
                this.$message({
                type: 'error',
                message: '修改失败'
              })
            }
          })
          
        },
        handleAllot(currentRow){
          this.allotDialog = true
          // let opp = [{id:0,value:1},{id:1,value:2}]
          // for (var i = 0, l = opp.length; i < l; i++) {
          //      opp[i].label = opp[i].value
               
          // }
          let URL = "http://lcj525.vipgz4.idcfengye.com/group"
          fetch(URL)
          .then(res=>res.json())
          .then(json=>{
            for (var i = 0,l = json.length;i<l;i++){
              json[i].label = json[i].name
              json[i].value = json[i].name + "|"+ json[i].id + "|" +currentRow.id
              
            }
            this.options3 = json
            
          })
        },
        allot(){
          console.log(this.options3)
          
          let URL = "http://lcj525.vipgz4.idcfengye.com/distribution"
          let value = this.allotForm.name 
          var detailValue = value.split('|',3)
          this.allotForm.id = detailValue[2]
          this.allotForm.employeeId= detailValue[1]
          delete this.allotForm.name
          let opt = {
            method : 'post',
            body : JSON.stringify(this.allotForm),
            headers:{
              'content-type':'application/json'
            },
          }
          fetch(URL,opt)
          .then(res=>res.json())
          .then(json=>{
            if(json.statusCode==-2){
              this.$message({
                type : 'error',
                message : '分配失败'
              })
            }
            else if(json.statusCode == 1)
            {
              this.$message({
                type : 'success',
                message : '分配成功'
              })
              this.allotDialog = false
            }
            
          })
        },

        
        deleteCustomer(currentRow){
          let URL = `http://lcj525.vipgz4.idcfengye.com/deleteCustomer?id=${currentRow.id}`
          fetch(URL)
          .then(res=>res.json())
          .then(json=>{
            if(json.statusCode == 1)
            {
              this.$message({
                type:'success',
                message : currentRow.name +'删除成功'
              })
            }
            else{
              this.$message({
                type:'error',
                message : currentRow.name +'删除失败'
              })
            }
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)
          })
          .catch(err=>{
            this.$message({
                type:'error',
                message : currentRow.name +'删除失败'
              })
          })
        },
        
        updateByState(currentRow){
          let URL = "http://lcj525.vipgz4.idcfengye.com/updateByState" 
          
          let updateByStateForm = {
            id : currentRow.id,
            state : 2,
          }
          let opt = {
            method : 'post',
            body : JSON.stringify(updateByStateForm),
            headers : {
              'content-type' : 'application/json'
            },
          }
          fetch(URL,opt)
          .then(res=>res.json())
          .then(json=>{
            if(json.statusCode == 1){
              this.$message({
                type : 'success',
                message : currentRow.name + '成功加入黑名单'
              })
            }
            else{
              this.$message({
                type : 'error',
                message : currentRow.name + '加入黑名单失败'
              })
            }
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)
          }) 
          .catch(err=>{
            this.$message({
                type : 'error',
                message : currentRow.name + '加入黑名单失败'
              })
          })         

        },
        
      },
    });
  </script>
</body>

</html>