<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>数据专员——合格名单</title>

<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          <li class="ul-item active">
            <a class="slider-link " href="/dataAdmin/Dindex.html">报名总名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/dataAdmin/Dinterview.html">面试总名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link active" href="/dataAdmin/qualify.html">合格名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/dataAdmin/havaJob.html">在职名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/dataAdmin/occupInjury.html">工伤名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/dataAdmin/arbitration.html">仲裁名单</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <el-row>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入姓名" v-model="DATA.name" @keyup.enter.native="searchData">
          </el-col>
          <el-col :span="4" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="输入身份证号" v-model="DATA.idNumber" @keyup.enter.native="searchData">
          </el-col>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入电话号码" v-model="DATA.phoneNumber" @keyup.enter.native="searchData">
          </el-col>
          

        </el-row>
        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
          <el-table-column fixed prop="customerName" align="center" center label="姓名" width="80">
          </el-table-column>
          <el-table-column prop="idNumber" align="center" label="身份证号" width="180">
          </el-table-column>
          <el-table-column prop="gender" align="center" label="性别" width="50">
          </el-table-column>
          <el-table-column prop="age" align="center" label="年龄" width="50">
          </el-table-column>
          <el-table-column prop="phoneNumber" align="center" label="电话号码" width="120">
          </el-table-column>
          <el-table-column prop="education" align="center" label="学历" width="50">
          </el-table-column>
          <el-table-column prop="address" align="center" label="区域" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="professionalSkills" align="center" label="专业技能" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="hasCertificate" align="center" label="证书" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="isDisability" align="center" label="残疾人" width="70">
          </el-table-column>
          <el-table-column prop="recommendEnterprise" align="center" label="推荐企业" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="recommendJob" align="center" label="推荐岗位" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="state" align="center" label="入职状态" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="delayTime" align="center" label="延期入职时间" width="140">
          </el-table-column>
          <el-table-column prop="interviewQualifiedTime" align="center" label="面试合格时间" width="140">
          </el-table-column>
          <el-table-column prop="note" align="center" label="待入职管理中的备注" width="80" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column label="操作" fixed="right" align="center" width="218">
            <template slot-scope="scope">
              <el-button size="small" type="primary" @click="updateList(scope.row)">
                编辑
              </el-button>
              <el-button size="small" type="success" @click="through(scope.row.id,scope.row.name)">
                入职
              </el-button>
              <el-button size="small" style="margin-top: 5px;" type="danger" @click="sendBack(scope.row.id,scope.row.name)">
                退回
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          DATA: {
            
            page: 1,
            name: "",
        
            idNumber: "",
            
            phoneNumber: "",
            
          
          },
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { name: '张三', gender: '女', age: '12', cardNumber: '500227199801233288x', phoneNumber: '15736063175', education: "大专" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {    //对象键值全部变为空
            obj[key] = "";
          }
        },
        searchData() {            //表一所有搜索框
          this.DATA.page = 1
          this.getTableData(this.DATA);
        },
        
        handleCurrentChange(size) {       //改变表一page
          this.currentPage = currentPage;
          this.DATA.page = currentPage;
          this.getTableData(this.DATA2);
        },
        
        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },
        
        getTableData(options) {
          this.loading = true;
          let URL = "http://lcj525.vipgz4.idcfengye.com/waitInductionAll"
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {

                this.tableData = this.filterData(json);

                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/waitInductionAllCount   "           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                this.total = json.count;
                resolve();
              });
          });
        },

        filterData(tableData) {
          return tableData.map(item => {
            item.isWechatAdded === 1 ? item.isWechatAdded = '是' : item.isWechatAdded = '否'
            item.hasCertificate === 1 ? item.hasCertificate = '是' : item.hasCertificate = '否'
            item.isDisability === 1 ? item.isDisability = '是' : item.isDisability = '否'
            return item;
          })
        },
      },
    });
  </script>
</body>

</html>