<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>公司报表</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 500px;
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 75%;
  }



  /* .el-tooltip__popper,
  .el-tooltip__popper.is-dark {
    background: #f5f5f5 !important;
    color: #303133 !important;
  } */
</style>

<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>

          <li class="ul-item active">
            <a class="slider-link " href="/companyManage/companyInfo.html">企业简章</a>
          </li>
          
          <li class="ul-item active">
            <a class="slider-link " href="/companyManage/companyContract.html">企业合同</a>
          </li>
          <li class="ul-item active">
            <a class="slider-link active " href="/companyManage/companyReport.html">企业报表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <el-row>
          <el-col :span="3" style="margin-right: 30px;margin-top: 20px;margin-bottom: 20px;">
            <el-select v-model="DATA.enterpriseName" clearable @change="getenterpriseName" placeholder="请选择">
              <el-option v-for="item in enterOptions"  :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </el-col>
          <el-col :span="3" style="margin-right: 100px;margin-top: 20px;margin-bottom: 20px;">
            <el-date-picker 
            v-model="DATA.startTime"
            type="date"
            value-format="yyyy-MM-dd" 
            @change="searchData"
            placeholder="选择起始时间">
            </el-date-picker>

          </el-col>

          <el-col :span="3" style="margin-top: 20px;margin-bottom: 20px;">
            <el-date-picker 
            v-model="DATA.deadline" 
            type="date" 
            value-format="yyyy-MM-dd" 
            @change="searchData"
            placeholder="选择截止时间">
            </el-date-picker>
          </el-col>
        </el-row>

        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>

          <el-table-column prop="enterpriseName" align="center"  label="企业名称">
          </el-table-column>
          <el-table-column prop="signUpCount" align="center" sortable label="报名人数">
          </el-table-column>
          <el-table-column prop="waitInductionCount" align="center" sortable label="面试合格人数">
          </el-table-column>
          <el-table-column prop="inductionCount" align="center" sortable label="入职人数">
          </el-table-column>
          <el-table-column prop="onTheJobCount" align="center" sortable label="在职人数">
          </el-table-column>



        </el-table>



      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          enterOptions:[],
          formLabelWidth: '100px',
          DATA: {
            
            enterpriseName: "",
            startTime: "",
            deadline: "",
          },

          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { name: '张三', gender: '女', age: '12', cardNumber: '500227199801233288x', phoneNumber: '15736063175', education: "大专" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getenterpriseName()
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },

        searchData() {            //表一所有搜索框
          
          this.getTableData(this.DATA)
          
        },

        

        getTableData(options) {   //获取表一数据
          this.loading = true
          let URL = "http://lcj525.vipgz4.idcfengye.com/enterpriseReport"
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                
                this.tableData = json;

                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },

        getenterpriseName(){
          let URL = "http://lcj525.vipgz4.idcfengye.com/enterpriseName"
          fetch(URL)
          .then(res=>res.json())
          .then(json=>{
            for (var i=0; i<json.length; i++)
            {
              
              json[i].value =json[i].enterpriseName 
              json[i].label =json[i].enterpriseName 
              delete json[i].id , delete json[i].phone,  delete json[i].place, delete json[i].roomAndBoard, delete json[i].time, delete json[i].welfare
              delete json[i].address , delete json[i].head, delete json[i].enterpriseName
              
            }
            this.enterOptions = json
            
          })
          this.getTableData(this.DATA)
        },







      },
    });
  </script>
</body>

</html>