<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>后台管理系统</title>

<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          <li class="ul-item active">
            <a class="slider-link " href="/Salesman/index.html">电话名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link " href="/Salesman/apply.html">报名名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/Salesman/interview.html">面试名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/Salesman/wait_hire.html">待入职名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/Salesman/hire.html">入职名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link active" href="/Salesman/other.html">结算名单</a>
          </li>
          <li class="ul-item">
            <a class="slider-link" href="/Salesman/phoneRecords.html">电话记录</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <div style="display: flex;flex-direction: row;flex-wrap: wrap;margin-bottom:2rem;margin-top: 2rem;">
          <div class="mobileSize">
            <el-input placeholder="请输入姓名" v-model="DATA.name" @keyup.enter.native="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-input placeholder="输入身份证号" v-model="DATA.cardNumber" @keyup.enter.native="searchData">
            </el-input>
          </div>
          <div class="mobileSize">
            <el-input placeholder="请输入电话号码" v-model="DATA.phoneNumber" @keyup.enter.native="searchData">
            </el-input>
          </div>
        </div>
        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
          <el-table-column fixed prop="name" center label="姓名">
          </el-table-column>
          <el-table-column prop="cardNumber" center label="身份证号">
          </el-table-column>
          <el-table-column prop="gender" center label="性别">
          </el-table-column>
          <el-table-column prop="age" label="年龄">
          </el-table-column>
          <el-table-column prop="phoneNumber" label="电话号码">
          </el-table-column>
          <el-table-column prop="education" label="学历">
          </el-table-column>
          <el-table-column prop="area" label="区域">
          </el-table-column>
          <el-table-column prop="skill" label="专业技能">
          </el-table-column>
          <el-table-column prop="subject" label="证书">
          </el-table-column>
          <el-table-column prop="zip" label="残疾人">
          </el-table-column>
          <el-table-column prop="zip" label="推荐企业">
          </el-table-column>
          <el-table-column prop="zip" label="推荐岗位">
          </el-table-column>
          <el-table-column prop="zip" label="报名时间">
          </el-table-column>
          <el-table-column prop="zip" label="面试时间">
          </el-table-column>
          <el-table-column prop="zip" label="备注">
          </el-table-column>
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          loading: false,
          DATA: {
            page: 1,
            pagesize: 10,
            name: '',
            cardNumber: "",
            phoneNumber: ""
          },
          currentPage: 1,
          pagesize: 10,
          total: 10,
          tableData: [
            { name: '张三', gender: '女', age: '12', cardNumber: '500227199801233288x', phoneNumber: '15736063175', education: "大专" }
          ]
        }
      },
      created() {
        // this.getTableData()
      },
      methods: {
        getURL(URL, options) {
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {
            obj[key] = "";
          }
        },
        searchData() {
          this.getTableData(this.DATA);
        },
        handleCurrentChange(size) {
          this.currentPage = currentPage;
          this.DATA.page = currentPage;
          this.getTableData(this.DATA);
        },
        getTableData(options) {
          let URL = this.getURL(
            "http://127.0.0.1:8000/test/getData", //请求地址
            options
          );
          this.loading = true;
          fetch(URL)
            .then(res => res.json())
            .then(json => {
              this.total = json.total
              this.tableData = json.tableData;
              setTimeout(() => {
                this.loading = false;
              }, 500);
            });
        }
      },
    });
  </script>
</body>

</html>