<!DOCTYPE html>
<html>
<meta charset="utf-8" />

<link rel="stylesheet" href="/admin/css/style.css" />
<link rel="stylesheet" href="/admin/css/other.css" />
<!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" /> -->
<link rel="stylesheet" href="/admin/css/index.css">
<script type="text/javascript" src="/admin/js/vue.js"></script>
<script src="/admin/js/element.js"></script>
<title>数据专员——面试名单</title>
<style>
  .el-card {
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .el-dialog {
    width: 500px;
  }

  .el-form-item label:after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  .el-form-item__label {
    text-align: justify;
    height: 50px;
  }

  .el-form-item.is-required .el-form-item__label:before {
    content: none !important;
  }

  .el-form-item {
    width: 75%;
  }
</style>
<body>
  <header class="header">
    <div class="container flex">
      <div class="left">
        <img class="logo" src="/admin/images/2.jpg" />
      </div>
      <div class="right flex">
        <p class="font">用户1</p>
        <p class="font exit">退出</p>
      </div>
    </div>
  </header>
  <div class="body flex">
    <div class="slider">
      <div class="slider-body">
        <ul>
          <li class="ul-item">
            <a class="slider-link active " href="/marketDept/Minterview.html">面试名单</a>
          </li>
          <li class="ul-item ">
            <a class="slider-link  " href="/marketDept/Mqualify.html">待入职名单</a>
          </li>
          

        </ul>
      </div>
    </div>
    <div class="main">
      <!-- 主体  -->
      <div id="app">
        <el-row>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入姓名" clearable v-model="DATA.name" @change="searchData">
          </el-col>
          <el-col :span="4" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="输入身份证号" clearable v-model="DATA.idNumber" @change="searchData">
          </el-col>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入电话号码" clearable v-model="DATA.phoneNumber" @change="searchData">
          </el-col>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">    
            <el-select v-model="DATA.recommendEnterprise" clearable @change="getenterpriseName" placeholder="请选择企业">
              <el-option v-for="item in enterOptions"  :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
        </el-col>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入区域" clearable v-model="DATA.address" @change="searchData">
          </el-col>
          <el-col :span="3" style="margin-right: 10px;margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入部门名" clearable v-model="DATA.deptName" @change="searchData">
          </el-col>
          <el-col :span="3" style="margin-top: 20px;margin-bottom: 20px;">
            <el-input placeholder="请输入推荐人" clearable v-model="DATA.employeeName" @change="searchData">
          </el-col>
          <el-col :span="2" style="margin-top: 20px;margin-bottom: 20px;">
            <el-date-picker
              v-model="DATA.interviewTime"
              type="date"
              clearable
              format="yyyy 年 MM 月 dd 日"
              value-format="yyyy-MM-dd"
              @change = "changeDate2"
              placeholder="选择面试日期">
            </el-date-picker>
          </el-col>

          

        </el-row>
        <el-table :data="tableData" style="width: 100%" v-loading="loading" border>
          <el-table-column fixed prop="customerName" align="center" center label="姓名" width="80">
          </el-table-column>
          <el-table-column prop="idNumber" align="center" label="身份证号" width="180">
          </el-table-column>
          <el-table-column prop="gender" align="center" label="性别" width="50">
          </el-table-column>
          <el-table-column prop="age" align="center" label="年龄" width="50">
          </el-table-column>
          <el-table-column prop="phoneNumber" align="center" label="电话号码" width="120">
          </el-table-column>
          <el-table-column prop="education" align="center" label="学历" width="50">
          </el-table-column>
          <el-table-column prop="address" align="center" label="区域" width="100" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="professionalSkills" align="center" label="专业技能" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="hasCertificate" align="center" label="证书" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="isDisability" align="center" label="残疾人" width="70">
          </el-table-column>
          <el-table-column prop="recommendEnterprise" align="center" label="推荐企业" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="recommendJob" align="center" label="推荐岗位" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column prop="deptName" align="center" label="部门名" :show-overflow-tooltip="true">
          </el-table-column>

          <el-table-column prop="interviewTime" align="center" label="面试时间" width="140">
          </el-table-column>
          <el-table-column prop="employeeName" align="center" label="推荐人" width="80" :show-overflow-tooltip="true">
          </el-table-column>
          <el-table-column label="操作" fixed="right" align="center" width="218">
            <template slot-scope="scope">
              
              <el-button size="small" type="primary" @click="updateList(scope.row)">
                编辑
              </el-button>
              <el-button size="small" type="success" @click="through(scope.row)">
                通过
              </el-button>
              <el-button size="small" type="danger" @click="backSignup(scope.row)">
                退回
              </el-button>

            </template>
          </el-table-column>
        </el-table>
        <div class="footer" style="width: 100%;margin-top:1rem;">
          <template>
            <el-pagination :current-page="currentPage" :page-size="pagesize" :page-sizes="10" :total="total"
              @current-change="handleCurrentChange" background layout="total,prev, pager, next, jumper">
            </el-pagination>
          </template>
        </div>


        <el-dialog title="编辑表单" :visible.sync="editDialog">
          <el-form :model="update_form" ref="update_form" style="margin-left: 80px;" class="demo-ruleForm">
            <el-form-item label="姓名" :label-width="formLabelWidth">
              <el-input v-model="update_form.customerName" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="性别" :label-width="formLabelWidth">
              <el-radio-group v-model="update_form.gender">
                <el-radio :label="0">男</el-radio>
                <el-radio :label="1">女</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="身份证" :label-width="formLabelWidth">
              <el-input v-model="update_form.idNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
              <el-input v-model="update_form.age" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="update_form.phoneNumber" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="学历" :label-width="formLabelWidth">
              <el-select v-model="update_form.education" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="区域" :label-width="formLabelWidth">
              <el-input v-model="update_form.address" autocomplete="off" size="small"></el-input>
            </el-form-item>


            <el-form-item label="专业技能" :label-width="formLabelWidth">
              <el-input v-model="update_form.professionalSkills" autocomplete="off" size="small"></el-input>
            </el-form-item>
            <el-form-item label="证书" :label-width="formLabelWidth">
              <el-radio-group v-model="update_form.hasCertificate">
                <el-radio :label="0">是</el-radio>
                <el-radio :label="1">否</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="残疾人" :label-width="formLabelWidth">
              <el-radio-group v-model="update_form.isDisability">
                <el-radio :label="0">是</el-radio>
                <el-radio :label="1">否</el-radio>

              </el-radio-group>
            </el-form-item>

            <el-form-item label="推荐企业" :label-width="formLabelWidth">
              <el-select v-model="update_form.recommendEnterprise" @change="updateEnterprise" placeholder="请选择">
                <el-option v-for="item in enterOptions"  :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="推荐岗位" :label-width="formLabelWidth">
              <el-select v-model="update_form.recommendJob"  placeholder="请选择">
                <el-option v-for="item in jobOptions" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="面试时间" :label-width="formLabelWidth"
            prop="interviewTime" 
            :rules="[
            { validator: validateDate, trigger: ['blur', 'change'] }
          ]"  
            >
              <el-input v-model="update_form.interviewTime" autocomplete="off" size="small"></el-input>
            </el-form-item>
            

            

          </el-form>
          <div slot="footer" class="dialog-footer" style="text-align: center;">
            <el-button @click="editDialog = false">取 消</el-button>
            <el-button type="primary" @click="update('update_form')">提交</el-button>
          </div>
        </el-dialog>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: function () {
        return {
          addInterviewForm: '',
          loading: false,
          editDialog: false,
          formLabelWidth: '70px', /*表单Label长度*/
          update_form:{},
          companyName:"",
          options: [{ value: '本科', label: '本科' }, { value: '专科', label: '专科' }, { value: '高中', label: '高中' }, { value: '研究生', label: '研究生' }, { value: '博士', label: '博士' }, { value: '初中', label: '初中' }, { value: '其它', label: '其它' }],
          enterOptions:[],
          jobOptions:[],
          
          DATA: {
            page: 1,

            name: "",
            deptName: "",
            address: "",

            idNumber: "",
            gender: "",/*多条件查询——性别单选框的默认选项*/
            employeeName: "",
            phoneNumber: "",
            recommendEnterprise: "",

            interviewTime: "",
          },
          currentPage: 1,
          pagesize: 10,
          total: "",
          tableData: [
            // { name: '张三', gender: '女', age: '12', cardNumber: '500227199801233288x', phoneNumber: '15736063175', education: "大专" }
          ]
        }
      },
      created() {
        this.getTableData(this.DATA)
        this.getTotal(this.DATA)
        this.getenterprise()
      },
      methods: {
        getTableDataURL(URL, options) {        //根据URL和参数对象生成附加参数的URL
          URL += "?";
          for (let [key, value] of Object.entries(options)) {
            if (value !== "") URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        getCountURL(URL, options) {
          URL += "?";                //根据URL和参数对象生成附加参数不带page的URL
          for (let [key, value] of Object.entries(options)) {
            if (value !== "" && key !== 'page') URL += "" + key + "=" + value + "&";
          }
          return URL.slice(0, URL.length - 1);
        },
        initForm(obj) {
          for (let key in obj) {    //对象键值全部变为空
            obj[key] = "";
          }
        },
        searchData() {            //表一所有搜索框
          this.DATA.page = 1
          this.getTableData(this.DATA)
          this.getTotal(this.DATA)
        },

        handleCurrentChange(size) {       //改变表一page
          this.DATA.page = size;
          this.getTableData(this.DATA);
        },

        changeTable1() {                //改变表一任何一个单选框
          this.getTotal(this.DATA).then(() => {
            this.getTableData(this.DATA)
          }).catch(err => {
            this.$message.error(err);
          })
        },

        getTableData(options) {
          options.interviewTime === null ?  options.interviewTime = "" : 
          this.loading = true;
          let URL = "http://lcj525.vipgz4.idcfengye.com/interviewListAllMarket"
          URL = this.getTableDataURL(URL, options);
          return new Promise(resolve => {
            fetch(URL)
              .then(res => res.json())
              .then(json => {

                this.tableData = this.filterData(json);

                resolve();
                setTimeout(() => {
                  this.loading = false;
                }, 500);
              });
          });
        },
        getTotal(options) {
          return new Promise(resolve => {
            let URL = "http://lcj525.vipgz4.idcfengye.com/interviewListAllMarketCount"           //获取表一所有数据总数
            URL = this.getCountURL(URL, options);
            console.log(URL)
            fetch(URL)
              .then(res => res.json())
              .then(json => {
                this.total = json.count;
                resolve();
              });
          });
        },

        filterData(tableData) {
          return tableData.map(item => {

            item.hasCertificate === 1 ? item.hasCertificate = '是' : item.hasCertificate = '否'
            item.isDisability === 1 ? item.isDisability = '是' : item.isDisability = '否'
            return item;
          })
        },

        validateDate(rule, value, callback){
          let dateRule = /^((([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8]))))|((([0-9]{2})(0[48]|[2468][048]|[13579][26])|((0[48]|[2468][048]|[3579][26])00))0229))$/
          if (dateRule.test(value)==false) {        
              callback(new Error('请输入正确得时间格式，如2017-01-01'))
          } else {
            callback()
          }
        },

        updateList(updateInfo){
          // console.log(updateInfo)
          this.editDialog = true
          console.log(updateInfo)
          this.updateEnterprise(updateInfo.recommendEnterprise)
          this.update_form = Object.assign({}, updateInfo)
          
         
          this.update_form.signUpInfoId = updateInfo.interviewInfoId
          
          
          
          delete this.update_form.signUpTime
          this.update_form.gender === '女' ? this.update_form.gender = 1 : this.update_form.gender = 0
          this.update_form.hasCertificate === '无' ? this.update_form.hasCertificate = 0 : this.update_form.hasCertificate = 1
          this.update_form.isDisability === '否' ? this.update_form.isDisability = 0 : this.update_form.isDisability = 1

        },

        update(formName) {
          this.$refs[formName].validate((valid) => {
          if (valid) {
            let URL = "http://lcj525.vipgz4.idcfengye.com/updateSignUps"
            this.update_form.gender === 0 ? this.update_form.gender = '男' : this.update_form.gender = '女'
            this.update_form.name = this.update_form.customerName
            // delete this.update_form.customerName
            var opt = {
              method: "POST",
              body: JSON.stringify(this.update_form),
              headers: {
                "content-type": 'application/json'
              }
          }
          return new Promise(resolve => {
            fetch(URL, opt)
              .then(res => res.json())
              .then(json => {
                this.editDialog = false
                if(json.statusCode == 1){
                  this.$message({
                    type:'success',
                    message : '修改成功'
                  })
                }
                this.getTableData(this.DATA)
                this.getTotal(this.DATA)
                
                resolve();
              })
              .catch(err=>{
                this.$message({
                  type : 'error',
                  message : '修改失败'
                })
              })
          })
          }
          else {
            this.$message({
              type : 'error',
              message : '请正确填写时间格式'
            })
            return false;
          }
          
          });
          
        },

        through(currentRow) {
          let URL = 'http://lcj525.vipgz4.idcfengye.com/addWaitInduction'
          
          this.addInterviewForm = {
            interviewId : currentRow.interviewInfoId,
            customerId: currentRow.customerId,
            phoneCallListId: currentRow.phoneCallListId,
            employeeId: currentRow.employeeId,
          }
          console.log(this.addInterviewForm)
          let opt = {
            method: 'post',
            body: JSON.stringify(this.addInterviewForm),
            headers: {
              "content-type": 'application/json'
            }
          }
          fetch(URL,opt)
            .then(res => res.json())
            .then(json => {
              if(json.statusCode == 1){
                this.$message({
                type: 'success',
                message: currentRow.customerName + '成功通过面试'
              })
              }
              this.getTableData(this.DATA)
              this.getTotal(this.DATA)
            })
            .catch(err=>{
              this.$message({
                type: 'error',
                message: currentRow.customerName + '通过面试失败'
              })
            })

        },

        backSignup(currentRow) {           //退回

          this.$prompt('退回理由', {
            confirmButtonText: '退回',
            cancelButtonText: '取消',

          }).then(({ value }) => {
            let URL = 'http://lcj525.vipgz4.idcfengye.com/backInterview'
            this.backForm = {
              id: currentRow.interviewInfoId,
              note: value

            }
            var opt = {
              method: "POST",
              body: JSON.stringify(this.backForm),
              headers: {
                "content-type": 'application/json'
              }

            }
            return new Promise(resolve => {
              fetch(URL, opt)
                .then(res => res.json())
                .then(json => {
                  if(json.statusCode == 1){
                    this.$message({
                    type: 'success',
                    message: currentRow.customerName + ' 的退回原因为：' + value

                  })
                  } 
                  this.getTableData(this.DATA)
                  this.getTotal(this.DATA)
                  resolve()
                  
                })
                .catch(err=>{
                  this.$message({
                    type: 'error',
                    message: currentRow.customerName + ' 退回失败'

                  })
                })
            })

          }).catch(() => {
            this.$message({
              type: 'info',
              message: '取消输入'
            });
          });

        },
        
        getenterpriseName(val){
          
          this.getTableData(this.DATA);
          this.getTotal(this.DATA)
        },

        getenterprise(){
          let URL = "http://lcj525.vipgz4.idcfengye.com/enterpriseName"
          fetch(URL)
          .then(res=>res.json())
          .then(json=>{
            for (var i=0; i<json.length; i++)
            {
              
              json[i].value =json[i].enterpriseName 
              json[i].label =json[i].enterpriseName 
              delete json[i].id , delete json[i].phone,  delete json[i].place, delete json[i].roomAndBoard, delete json[i].time, delete json[i].welfare
              delete json[i].address , delete json[i].head, delete json[i].enterpriseName
              
            }
            this.enterOptions = json
            
          })
        },

        updateEnterprise(val){
          let URL = "http://lcj525.vipgz4.idcfengye.com/enterpriseName"
          fetch(URL)
          .then(res=>res.json())
          .then(json=>{
            for (var i=0; i<json.length; i++)
            {
              
              json[i].value =json[i].enterpriseName 
              json[i].label =json[i].enterpriseName 
              delete json[i].id , delete json[i].phone,  delete json[i].place, delete json[i].roomAndBoard, delete json[i].time, delete json[i].welfare
              delete json[i].address , delete json[i].head, delete json[i].enterpriseName
              
            }
            this.enterOptions = json
            
          })
          this.companyName = val
          this.update_form.recommendJob = ""
          let URLJob = `http://lcj525.vipgz4.idcfengye.com/enterpriseJob?enterpriseName=${this.companyName}`
          fetch(URLJob)
          .then(res=>res.json())
          .then(json=>{
            
            for (var i=0;i<json.length;i++){
              json[i].value =json[i].job
              json[i].label =json[i].job
              delete json[i].id , delete json[i].number , delete json[i].wage , delete json[i].enterpriseId
            }
            this.jobOptions = json
          })

        },

        changeDate2(val){
          if(val === null)
          {
            this.DATA.interviewTime =" "
            this.DATA.page = 1
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)
          }
          
            this.DATA.page = 1
            this.getTableData(this.DATA)
            this.getTotal(this.DATA)
        },
        



      },
    });
  </script>
</body>

</html>